page-login {
  form {
    margin-bottom: 26px;
    margin-top:50%;
    button {
      margin-top: 30%;
          
    }
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  div.fixed-content{
    background-image: url(../../assets/images/trees.png);
    background-size: 100%;
  }

  button.bottom-buttons{
    -webkit-text-fill-color: white;
    text-shadow: 1px 1px grey;
    font-size: 120%;
  }
}